@import '../../shared_components/global_styles';


.accountsetup-container{
    background-color: $secondary-color;
    display: flex;
    height: 100vh;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: var(--inter);

    #coche-logo{
        height: 20px;
        margin-bottom: 1.5em;
    }

    h3{
        color: $primary-color;
    }

    .setup-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
        margin: 2em 0 4em 0;

        h1{
            color: $primary-color-dark;
            margin-bottom: 0.5em;
        }

        .setup-options{
            display: flex;
            justify-content: space-evenly;

            .setup-item {
                margin: 10px;
                width: 180px;
                height: 180px;
                background-color: white;
                border-radius: 5px;
                cursor: pointer;
                border: 1px solid #e0e0e0;
                transition: all 0.3s ease-in-out;

                img{
                    height: 180px;
                }

                &:hover{
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
                }
            }

            .setup-label {
                margin-top: 10px;
                color: $primary-color-dark;
                font-weight: bold;
            }
        }

        #skip-button{
            margin: 3em 10px 0 0;
            text-align: center;
            height: auto;
            width: 150px;
            padding: 8px;
            border-radius: 5px;
            margin-left: auto;
            border: none;
            cursor: pointer;
            background-color: $primary-color-dark;
            color: $secondary-color-dark;
            font-size: 1em;
            transition: all 0.3s ease-in-out;
    
            &:hover{
                background-color: #191612;
            }
        }
    }
}