@import '../../shared_components/global_styles';

.services-container{
    display: flex;
    flex-direction: column;

    .book-now{
        align-self: center;
        padding: 10px;
        width: 150px;
        border: none;
        border-radius: 5px;
        background-color: $primary-color-dark;
        color: white;
        font-family: var(--inter);
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
            background-color: $primary-color-light;
            transform: scale(1.05);
        }
    }

    .services-headings{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2em;
        flex-direction: column;
        gap: 20px;
        color:$primary-color-dark;

        p{
            text-align: center;
            font-family: var(--archivo);
            font-size: 3em;

            span{
                font-family: var(--playfair);
                font-weight: bold;
                font-style: italic;
            }
        }

        h4{
            font-family: var(--archivo);
            font-weight: 400;
        }
    }
    
    .services-selections{
        display: flex;
        padding: 2em 6em 4em 6em;
        justify-content: space-between;

        .styles-text{
            p{
                font-family: var(--playfair);
                font-weight: bold;
                font-style: italic;
                font-size: 2.5em;
                margin-bottom: 15px;
                color: $primary-color-dark;
            }

            h4{
                font-family: var(--inter);
                font-weight: 400;
                font-size: 0.7em;
                font-style: italic;
                color: $shade-3;
            }
        }

        .services-options{
            display: flex;
            gap: 30px;

            .optionX{
                width: 200px;
                height: 240px;

                position: relative;
                overflow: hidden;
                border-radius: 10px;
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
                cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                        transition: transform 0.3s ease;
                    }

                    .caption {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    background: rgba(255, 255, 255, 0.8);
                    backdrop-filter: blur(4px);
                    -webkit-backdrop-filter: blur(4px); 
                    color: $primary-color;    
                    text-align: left;
                    padding: 17px;
                    font-family: var(--inter);
                    font-size: 1em;
                    font-weight: bold;

                    border-top-right-radius: 20px;
                    }

                    &:hover {
                        img {
                            transform: scale(1.05);
                        }
                    }

                    &.selected {
                        border: 3px solid $secondary-color;
                        box-shadow: 0 3px 5px rgba(255, 94, 94, 0.5);
                    }
                }
            }
        }
    }
    
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1.5s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



