@import '../../shared_components/global_styles';

.auth-page-wrapper{
    background-color: $shade-1;
    display: flex;
    height: auto;
    overflow: auto;
    position: relative;

    .auth-container {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        font-family: var(--inter);

        // -------------------- login-form.jsx
        .loginform-container{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 600px;
            padding: 3em;
            transition: all 0.4s ease-in-out;

            .login-header{
                font-size: 1.7em;
                font-weight: 600;
                color: $primary-color-dark;
            }

            .login-form{
                display: flex;
                flex-direction: column;
                margin: 1.5em 0 7em 0;

                input, .login_button{
                    height: auto;
                    padding: 12px 20px;
                    border-radius: 5px;
                    font-size: 0.9em;
                    margin: 1.5em 0 0.3em 0;
                    font-family: var(--inter);
                    transition: all 0.4s ease-in-out;
                }

                input {
                    border: 1px solid $shade-2;
                    font-weight: 500;
                    color: $shade-3;

                    &::placeholder {
                        font-family: var(--inter);
                        color: $shade-2;
                    }

                    &:focus {
                        border: 1px solid $shade-1;
                        outline: none;
                        box-shadow: 0 0 0 2.5px $secondary-color;
                    }
                }

                .login_button{
                    color: $shade-1;
                    background-color: $primary-color-light;
                    border: none;
                    cursor: pointer;
                    font-weight: 600;

                    &:hover{
                        background-color: darken($primary-color-light, 5%);
                    }
                }

                .login-error{
                    font-size: 10px;
                    font-style: italic;
                    color: $warning-text;
                    display: flex;
                    justify-self: flex-start;
                    padding-left: 10px;
                }
            }

            .forgot-password{
                font-size: 0.8em;
                color: $secondary-color;
                font-weight: 600;
                margin-bottom: 10px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;

                &:hover{
                    color: darken($secondary-color, 10%);
                }
            }

            .register_q{
                font-size: 0.8em;
                color: $shade-2;
    
                span{
                    font-weight: 600;
                    cursor: pointer;
                    color: $secondary-color;
                    transition: all 0.3s ease-in-out;

                    &:hover{
                        color: darken($secondary-color, 10%);
                    }
                }
            }
        }

        // -------------------- registration-form.jsx
        .regiform-container{
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 600px;
            font-family: var(--inter);
            padding: 3em;
            transition: all 0.4s ease-in-out;

            .regi-header{
                font-size: 1.7em;
                font-weight: 600;
                color: $primary-color-dark;
                margin-bottom: 10px;
            }

            .signin_q{
                font-size: 0.8em;
                color: $shade-2;
    
                span{
                    font-weight: 600;
                    cursor: pointer;
                    color: $secondary-color;
                    transition: all 0.3s ease-in-out;

                    &:hover{
                        color: darken($secondary-color, 10%);
                    }
                }
            }

            .regi-form{
                display: flex;
                flex-direction: column;
                margin: 1.5em 0 0 0;

                .phoneNum-container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    p{
                        flex: 0.1;
                        margin: 1.5em 0 0.3em 0;
                        font-weight: bold;
                        font-size: 0.9em;
                        color: $shade-3;
                    }
    
                    input{
                        flex: 0.97;
                    }
                }

                input, .register_button{
                    height: auto;
                    padding: 12px 20px;
                    border-radius: 5px;
                    font-size: 0.9em;
                    margin: 1.5em 0 0.3em 0;
                    font-family: var(--inter);
                    transition: all 0.4s ease-in-out;
                }
    
                input{
                    border: 1px solid $shade-2;
                    font-weight: 500;
                    color: $shade-3;

                    &::placeholder{
                        font-family: var(--inter);
                        color: $shade-2;
                    }

                    &:focus {
                        border: 1px solid $shade-1;
                        outline: none;
                        box-shadow: 0 0 0 2.5px $secondary-color;
                    }
                }

                .name-2{
                    display: flex;
                    gap: 1em;
    
                    .last_name{
                        flex: 1;
                    }
    
                    .suffix{
                        width: 100px;
                    }
                }
            }

           .register_button{
                color: $shade-1;
                background-color: $primary-color-light;
                border: none;
                cursor: pointer;
                font-weight: 600;

                &:hover{
                    background-color: darken($primary-color-light, 5%);
                }
           }

            .login-error{
                font-size: 10px;
                font-style: italic;
                color: $warning-text;
                display: flex;
                justify-self: flex-start;
                padding-left: 10px;
            }
        }
    }
}


// Media queries

@media (max-width: 1280px){ 
    .auth-page-wrapper{
        .auth-container {
            .loginform-container, .regiform-container{
                width: 500px;
                padding: 2em;
            }
        }
        #side-image-container {
            flex: 0 0 45%;
            #circle{
                img{
                    width: 1150px;
                    margin-top: -40px;
                    margin-left: -90px;
                }
            }
        }
    }
}

@media (max-width: 1024px){
    .auth-page-wrapper{
        flex-direction: column;

        .auth-container {
            z-index: 2;
        }

        #side-image-container {
            position: absolute;
            top: 75%;
            z-index: 1;
            justify-content: center;
            width: 100%;
            height: 100%;

            #circle{
                top: 0;
                left: auto;
                width: 1400px;
                img{
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 480px){
    .auth-page-wrapper{
        .auth-container {
            .loginform-container, .regiform-container{
                max-width: 400px;
            }
            .regiform-container{
                .regi-form{
                    .name-2{
                        .suffix{
                            min-width: 50px;
                        }
                    }
                }
            }
        }
    }
}