@import '../../shared_components/global_styles';

.step3-container {
    background-color: #fff;
    padding: 2rem 4vw; 
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%; 

    .step3-title {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .step3-subtitle {
        font-size: 0.9rem;
        color: $shade-2;
        margin-bottom: 2rem;
    }

    .step3-form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .checkbox-row {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 13px;
            font-weight: 500;
            color: $shade-3;
            font-family: var(--inter);
            margin-bottom: 1rem;
        }

        .form-row {
            display: grid;
            grid-template-columns: 200px 1fr;
            align-items: start;
            gap: 1.5rem;

            .form-label {
                font-size: 17px;
                font-weight: 600;
                color: $shade-4;
                padding-top: 0.5rem;
                font-family: var(--inter);
            }

            .form-inputs {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;

                .field-container {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    min-width: 150px;

                    input, select {
                        padding: 8px;
                        border: 1px solid;
                        border-color: $primary-color;
                        border-radius: 8px;
                        font-size: 12px;
                        flex: 1;

                        &:focus {
                            border-color: $primary-color-light;
                            outline: none;
                        }
                    }

                    select {
                        min-width: 150px;
                    }

                    .error-message {
                        color: red;
                        font-size: 8px;
                        font-family: var(--inter);
                        font-style: italic;
                        font-weight: 500;
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}

.disabled-input {
  background-color: #f0f0f0;
  color: #888;
  cursor: not-allowed;
}

input[type='checkbox'] {
    width: 18px;
    height: 18px;
    accent-color: $primary-color;
    cursor: pointer;
}